!!!
html
  head
    title= title
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.mpager.js')
    script(type='text/javascript', src='http://#{hostname}/faye.js') 
    link(rel='stylesheet', href='/stylesheets/smp.css')
    script
      var mpager;  

      $(document).ready(function() {

        var client = new Faye.Client('http://#{hostname}/faye');
        var subscriptionGoToMeasure = client.subscribe('/#{sessionId}/gotomeasure', function(message) {
          var measureNumber = message.mn;

          mpager.goTo(measureNumber-1);
        });
        subscriptionGoToMeasure.callback(function() {
          console.log('subscriptionGoToMeasure is now active!');
        });
        subscriptionGoToMeasure.errback(function(error) {
          console.log(error.message);
        });

        var subscriptionGoToUrl = client.subscribe('/#{sessionId}/gotourl', function(message) {
          var url = message.url;
          window.location = url;
        });
        subscriptionGoToUrl.callback(function() {
          console.log('subscriptionGoToUrl is now active!');
        });
        subscriptionGoToUrl.errback(function(error) {
          console.log(error.message);
        });
        
        var subscriptionLoadScore = client.subscribe('/#{sessionId}/loadscore', function(message) {
          var id = message.id;
          loadScoreById(id);
        });
        subscriptionLoadScore.callback(function() {
          console.log('subscriptionLoadScore is now active!');
        });
        subscriptionLoadScore.errback(function(error) {
          console.log(error.message);
        });
                
        loadScoreById('#{id}');
        
        function loadScoreById(id){
            $.getJSON('http://api.musescore.com/services/rest/score/'+id+'.jsonp?oauth_consumer_key=musichackday&callback=?', 
                function(data) {
                    loadScore(data['id'], data['secret'], data['metadata']['pages'], data['metadata']['dimensions'], data['dates']['lastupdate']);
                }
            );
        }
        
        function loadScore(id, secret, pageCount, dimensions, scoreChanged) {
            var mmToPixel = (827/210);
            
            var maxPageWidth = $('#smp-pages').width();
            var pageWidth = parseInt(dimensions.split('x')[0]) * mmToPixel;
            
            //clear it
            $('#smp-pages').html('');
            
            mpager = $("#smp-pages").mpager({
    
              api: true,
    
              pages : pageCount,
    
              scoreId : id,
    
              scoreSecret : secret,
              scoreChanged: scoreChanged,
    
              apiServer : "http://api.musescore.com",
    
              staticBucket : "static.musescore.com",
    
              measureClickCallback : measureClick,
    
              //measureChangeCallback: measureChange,
    
              pageWidth: pageWidth,
    
              defaultMeasure: -1,
    
              bottomPadding: 10,
              scrollToMeasure: true,
    
              consumerKey: "musichackday"
            });
        }            
      
        function measureClick(element, id) {
          mpager.highlightMeasure(element, id);

        }
      });
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11896755-6']);
      _gaq.push(['_trackPageview']);
        
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();      
  body

    #smp-pages.smp-pages  